@media(max-width:768px){
    .small_display_off{
        display: none;
    }
    .login-signup div.flex-item{
        max-width: unset !important;
    }
    #signup_button{
        width: 100% !important;
    }
    .pl-0{
        padding-left: 0 !important;
    }
    .pr-0{
        padding-right: unset !important;
    }
    #post-panel{
        width: 90vw !important;
    }
}

html,body,#root,.App{
    height:100vh;
}

.App .login-signup{
    height: 85vh;
}

input{
    border: none;
    width: 100%;
}
input:focus{
    border:none;
    outline: none;
}


.btn.btn-outline-primary.btn-sm{
    background-color: unset !important;
    color: #4267b2;
    border-color: #4267b2;
}

.btn.btn-outline-primary.btn-sm:focus{
    outline: #4267b2 !important;
    border: none ;
    box-shadow: none;
}
.login-signup div.flex-item{
    max-width: 35%;
}

.login-form{
    display: inline-flex;
}

.navbar button{
    font-size: small;
}


.login_nav div{
    width: 35%;
}

.login{
    height: 100vh;
    width:  40vw;
}
.signup input{
    margin-bottom:1%;
}
.signup{
    width:40vw;
}

#signup_button{
    width:50%;
    background-color: rgb(44, 148, 44);
    color: white;
    font-weight: bold;
    font-size: large;
}
#signup_button:hover{
    background-color: rgb(56, 175, 56);
}

.tiny{
    color: lightslategray;
    font-size: x-small;
    position: relative;
    bottom: 0;
}

#label-createpost{
    color: lightslategray;
    margin-bottom: 0;
}

.post{
    background-color: white;
    box-shadow: lightgray 2px 2px 2px;
    margin-top: 1vh; 
}
.post-head{
    border-bottom:lightgray 1px solid;
    font-size: 0.8em;
    color:rgb(87, 87, 87);
}
.post-name{
    font-size: large;
}
.nav-item{
    margin-right:1em;
}
.inactive{
    color:rgba(0, 0, 0, 0.568);
}

.navbar{
    background-color: #4267b2;
}
.navbar-brand{
    color: white !important;
    font-weight: bold;
}
.navbar.navbar_feedpage{
    justify-content: space-around;
    padding: 0%;
}
.navbar-navs{
    font-weight: bold;
    padding:1px;
    color:white;
    cursor: pointer;
    font-size: 0.8em;
}

.navbar-font-size{
    font-size: 2.5rem;
}
.navbar-font-size-1{
    font-size: 1.5rem;
}

.rightbar{
    background-color: white;
    box-shadow: lightgray 2px 2px 2px;
    margin-top: 1vh;
    margin-left: 2vw;
}
.friend-suggestions-image{
    width:4vw;
    border-radius: 100%;
}
.suggestions{
    font-weight: normal;
}

a{
    color:black ;
}
a:hover{
    text-decoration: unset !important;
}
body{
    background-color: #ebedf0;
}
.card-header{
    font-size: 0.8em;
    color:grey;
    font-weight: bold;
}
.card-body{
    color:rgb(46, 46, 46);
    font-size: 0.9em;
}
.border-top{
    border-top: lightgray;
}
.comment{
    background-color: rgba(231, 231, 231, 0.719);
    border-radius: 5em;
    font-size: small;
    padding: .4em;
    margin: 1em;
}
.comment-name{
    font-weight: bold;
}
button.share-post{
    background: #4267b2b9;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
}
button.share-post:hover, button.share-post:active{
    background-color: #4267b2 !important;
    box-shadow: none !important;
}

.icon{
    color: rgb(138, 138, 138);
}
.icon:active{
    color: #4267b2;
    cursor: pointer;
}
.like-comment{
    width: 50%;
    padding: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like-comment:hover{
    background-color: rgb(240, 240, 240);
}

.s-1{
    font-size: 1.2em;
}
.s-9{
    font-size: 0.9em;
}
.s-7{
    font-size: 0.7em;
}
.gray-back{
  background: rgb(241, 241, 241);    
}
#comment:focus{
    background: rgb(241,241,241) !important;    
    box-shadow: none !important;
}
.sidebar{
    margin-top: 1vh;
    width: 12vw;
}
.sidebar .active{
    background-color: rgb(255, 255, 255);
    border: 1px lightgray solid;
}
.side-text{
    font-weight: bold;
    padding:1px;
    color:gray;
    font-size: 0.8em;
}
.flex-item{
    flex: 1 1 0 !important;
}
.xs{
    font-size: x-small;
}
.label{
    color: #ebedf0;
    font-size: small;
}
.pill{
    margin-top:0.5vh;
    padding: 15% !important;
    cursor: pointer;
}
.d-none{
    display: none;
}
img{
    width: -webkit-fill-available;
}

#post-panel{
    width: 50vw;
}

.s1{
    font-size: small;
}

.cover-photo-container{
    width: 80%;    
    height: 250px;
}
.cover-photo{
    width:100%;
    height: -webkit-fill-available;
}
.profile-photo-enlarged{
    border-radius: 100%;
    width:75px;
    height:auto;
}