input{
  border: none;
  width: 100%;
}
input:focus{
  border:none;
  outline: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.btn-outline-primary.btn-sm{
  background-color: unset !important;
  color: #4267b2;
  border-color: #4267b2;
}

.btn.btn-outline-primary.btn-sm:focus{
   outline: #4267b2 !important;
   border: none ;
   box-shadow: none;
}